<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include("css.ejs")%>
</head>
<body>
    <%- include("header.ejs")%>
    <%- include("banner.ejs")%>
    <%- include("content1.ejs")%>
    <%- include("content2.ejs")%>
    <%- include("content3.ejs")%>
    <%- include("footer.ejs")%>
</body>
<script type="text/javascript" src="public/jQuery/jquery3.6.0.js"></script>
</html>